/* Common css */

body {
    margin: 0px;
}

:root {
    --color-navy: #212353;
    --color-dark-gray: #4B5D68;
    --color-purple: #9C69E2;
    --color-pink: #F063B8;
    --color-cyan: #68C9BA;
}

.text-navy {
    color: var(--color-navy);
}

.text-cyan {
    color: var(--color-cyan);
}

.text-dark-gray {
    color: var(--color-dark-gray);
}

.text-purple {
    color: var(--color-purple);
}

.text-pink {
    color: var(--color-pink);
}


/* Menu css */

#check:checked~ul {
    display: block !important;
}


/* Features */

.article-1,
.article-4 {
    background: url(images/Rectangle\ 39bg3\,1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.article-2,
.article-3 {
    background: url(images/Rectangle\ 39bg.3\,2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}